
h1 {
  color: blue;
  text-align: center;
  font-size: 110px;

}

body {
  font-family: sans-serif;
  background-color:#ffe4e1;

}

p {
  font-size: 75px;

}

.Intro {
  text-align: center;
}

.Intro2 {
  text-align: center;

}
