
h2 {
  font-size: 25px;


}

.pair {
  color:red;
  
}


h3 {
  font-size: 25px;
  color: green;
}

body {
  font-family: sans-serif;
  background-color:#ffe4e1;
  text-align: center;

}

.pic1 {
  height: 50%;
  width: 20%;
  border-radius: 100%;

}

.Intro2  li {
  width: auto;
  padding: 20px;
  border: 2px solid gray;

}

.jumbotron {
  background-color: pink;

}

.guitar {
  float: auto;
}

.ukulele {
  float: auto;

}

.kanye {
  float: auto;
}
