
h1 {
  color: blue;
  text-align: center;
  font-size: 110px;

}

body {
  font-family: sans-serif;
  background-color:#ffe4e1;
  background-image: url(https://imgur.com/BWtD2MZ);

}

.pic1 {
  height: 50%;
  width: 50%;
  align-items: center;
}

p {
  font-size: 75px;

}

.Intro {
  text-align: center;
}

.Intro2 {
  text-align: center;

}

.header-site{
   background: url(http://www.yoursite.com/folder/image.jpg);
}
